<!DOCTYPE html>
<html>
  <head>
    <title>Fleabay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# Devises uses flash notices %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%=select_alert_subclass(key)%> alert-dismissable fade show" role="alert">
        <%= value%>
        <button type="button" class="close" data-dimiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <%= render '/shared/navbar' %>
    <%= yield %>
  </body>
</html>
